pandas
kagglehub
seaborn
matplotlib
python-dotenv
gradio
notebook
ipywidgets
transformers
lanchain-community
langchain-chroma
chromadb
langchain-openai
sentence-transformers
langchain-huggingface
huggingface_hub[hf_xet]
